:root {
    --white-clr: #fff;
    --cream-white-clr: #e0dedb;
    --dark-blue-clr: #2e3558; 
    --gray-clr: #333;
    --sky-blue-clr: #256584;
}

.formMain {
    width: 100%;
    height: calc(100vh - var(--header-height));
    position: relative;
    background: linear-gradient(180deg, #021F47 0%, rgb(8 31 62 / 50%) 100%), rgb(3 5 57 / 50%) 50%;
    /* box-shadow: 0px 25px 25px 0px rgba(0, 3, 32, 0.5); */
}

.main>p {
    color: var(--cream-white-clr);
    font-size: 1.5rem;
}

#formdiv {height: 80vh;}

.form { display: flex; flex-direction: column;}

.flex { 
    display: flex;
    justify-content: center;
    align-items: center;
 }

.logo>img {
    height: 150px;
    width: 170px;
}

.text {
    text-align: center;
}

.formMain > p {
    color: var(--white-clr);
    font-size: 1.5rem;
}

.formMain > p::after {
    content: "To Login Page";
}

.form-section {
    margin-top: 10px;
    text-align: center;
}

.form input {
    padding: 10px 10px 10px 40px;
    margin: 6px;
    margin-bottom: 2rem;
    height: 50px;
    width: 400px;
    background-color: var(--dark-blue-clr);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    transition: 0.5s;
    outline: none;
    box-sizing: border-box;
    border: 3px solid var(--dark-blue-clr);
    background-size: 20px 20px;
    overflow: hidden;
    color: #f0ffff;
}

.form input:focus {
    border-color: var(--sky-blue-clr);
}

.form input[type="text"] {
    background-image: url(/svgs/bg-remove.png);
}
.form input[type="email"] {
    background-image: url(/svgs/mail.png);
    background-size: 22px;
}

.form input[type="password"] {

    background-image: url(/svgs/Vector.png);
}

.signupbtn {
    background-color: var(--dark-blue-clr);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.signupbtn:hover {
    opacity: 0.8;
}

.link {
    color: aqua;
}

.signinbtn {
    background-color: #3887fe;
    
    border: none;
    color: var(--white-clr);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.signinbtn:hover {
    background-color: #084eb7;
}